@font-face {
  font-family: 'Almarai';
  src: url('fonts/Almarai/Almarai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Almarai', sans-serif;
}

body {
  direction: rtl;
}
