.navbar {
  display: flex;
  padding: 10px 20px;
}
.navbar_links {
  display: flex;
  gap: 20px;

  direction: ltr;
}
.navbar_item {
  display: flex;
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.navbar_item > a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}
